<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Os 40 Dias de Jejum de Jesus</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700|Anton" rel="stylesheet">
    

{#    <link rel="stylesheet" href="templates/ fonts/icomoon/style.css">#}
    <link rel="stylesheet" href="{{ asset ('fonts/icomoon/style.css') }}">

    <link rel="stylesheet" href="{{ asset ('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/owl.theme.default.min.css') }}">

    <link rel="stylesheet" href="{{ asset ('css/bootstrap-datepicker.css') }}">

    <link rel="stylesheet" href="{{ asset ('fonts/flaticon/font/flaticon.css') }}">

    <link rel="stylesheet" href="{{ asset ('css/aos.css') }}">

    <link rel="stylesheet" href="{{ asset ('css/style.css') }}">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap"  id="# ">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
      
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center position-relative">
          
            
            <div class="site-logo">
              <a href="#" class="text-black"><span class="text-primary">The Jesus Fast</a>
            </div>
            
              <nav class="site-navigation text-center ml-auto" role="navigation" >

                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li><a href="#" class="nav-link">Inicio</a></li>
                  <li><a href="#about-section" class="nav-link">Tudo sobre o jejum</a></li>
                  <li><a href="#devocionais-section" class="nav-link">Devocionais</a></li>
                  <li><a href="#recursos-section" class="nav-link">Recursos</a></li>
                  <li><a href="#juntar-section" class="nav-link">Junte-se a Nós</a></li>
                </ul>
              </nav>
          
            

          <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>
    
    <div class="owl-carousel slide-one-item">
      <a href="#"><img src="{{ asset ('images/slider-1.jpg') }}" alt="Image" class="img-fluid"></a>
      <a href="#"><img src="{{ asset ('images/hero_2.jpg') }}" alt="Image" class="img-fluid"></a>
    </div>
    <div class="site-section bg-image overlay counter" style="background-image: {{ asset ('images/hero_1_no-text.jpg') }};" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-6 mb-4">
            <figure class="block-img-video-1" data-aos="fade">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/g8Of2pGkWTg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </figure>
          </div>
          <div class="col-lg-5 ml-auto align-self-lg-center">
            <h2 class="text-black mb-4 text-uppercase section-title">VISÃO para 2020</h2>
            <p class="mb-4 text-uppercase font-gray-3">ESTAMOS CONVOCANDO UM JEJUM DE 40 DIAS PARA UMA MANIFESTAÇÃO MUNDIAL  DE JESUS, O EVANGELISTA.</p>
            <p class="text-black">Antes de Jesus realizar qualquer milagre, antes de Ele pregar o evangelho, o Espírito de Deus o dirigiu até o deserto para jejuar. Ele saiu daquele jejum cheio do poder do Espírito Santo.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
            <div class="block-counter-1">
              <span class="number"><span data-number="5">0</span></span>
              <span class="caption text-black">Numero de Pessoas</span>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
            <div class="block-counter-1">
              <span class="number"><span data-number="1">0</span></span>
              <span class="caption text-black">Numero de Paises</span>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
            <div class="block-counter-1">
              <span class="number"><span data-number="1">100</span></span>
              <span class="caption text-black">Numero de Igrejas</span>
            </div>
          </div>
          <div class="col-md-6 mb-4 col-lg-0 col-lg-3">
            <div class="block-counter-1">
              <span class="number"><span data-number="72">0</span></span>
              <span class="caption text-black">Numbero de dias restantes para o Jejum</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section" id="devocionais-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-7 text-center mb-5 text-center">
            <h2 class="text-black text-uppercase section-title">Devocionais Diarios</h2>
            <p>Acompanhe o momento a todo o minuto</p>
          </div>
        </div>

{#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Varrer os céus: Peru</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Tendências</a></p>
              <p>Eu superei as alturas varridas pelo vento com graça fácil, onde nunca brincamos, nem sequer águia; e, enquanto com a mente silenciosa e elevada, eu pisei na alta santidade inigualável do espaço ... É interessante que no poema, ele pise na alta santidade inigualável ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Noivado Global de Jejum</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Tendências</a></p>
              <p>L“Oh, I have slipped the surly bonds of earth, and danced the skies on laughter-silvered wings. Sunward I’ve climbed and enjoyed the tumbling mirth of sun-split clouds and done a hundred things you’ve not dreamed of…”   John Gillespie Magee Jr. was a fighter pilot...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Apanhados na Visão 2020</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Tendências</a></p>
              <p>"Oh, I have slipped the surly bonds of earth, and danced the skies on laughter-silvered wings; Sunward I've climbed and joined the tumbling mirth of sun-split clouds - and done a hundred things You have not dreamed of - wheeled and soared and swung high in the sunlit...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
        </div>
        {#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Exija um milagre</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Tendências</a></p>
              <p>“O Espírito do Senhor está sobre mim, porque ele me ungiu para proclamar boas novas aos pobres. Ele me enviou para proclamar liberdade aos cativos e recuperar a visão aos cegos, para libertar os oprimidos, para proclamar o ano do Senhor ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">A Cruz Pela Europa</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Tendências</a></p>
              <p>Na cruz de Cristo eu me glorio, Elevando-se pelos destroços do tempo. Toda a luz da história sagrada, reúne em torno de sua cabeça sublime. John Bowring O mundo olhou com choque e tristeza assistindo a grande catedral de Notre Dame queimando em chamas. Mas então, através de ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Terapia de Conversão de Deus</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Tendências</a></p>
              <p>Então o Senhor disse: “Certamente vi a aflição do meu povo que está no Egito e ouvi seu clamor por causa de seus responsáveis. Conheço o sofrimento deles e desci para libertá-los ... Êxodo 3: 7-8 “Você precisa cavar os poços do avivamento em Harvard e ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
        </div>
        {#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Capitão do exército de anjos</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Tendências</a></p>
              <p>Hoje estou fazendo um blog de vídeo enquanto ando pelo centro de Jericó, em Colorado Springs. Circulando minhas promessas e pisando. Obrigado, Lou Junte-se a mim por 40 dias nesta jornada devocional. Meus 40 dias de jejum foram como os 40 anos de Israel no deserto, e meus 40 ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Capitão dos Anfitriões</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Tendências</a></p>
              <p>“Se a noiva é uma revelação do 1º mandamento, a Ekklesia é a agência do domínio cristológico.” -Dean Briggs 'Ekklesia Rising' “O vocabulário do ataque não é popular hoje. Muitas das águias do Senhor foram influenciadas pelo humor do mundo e ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">APÓS O JEJUM - VOCÊ DEVE PEGAR</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Tendências</a></p>
              <p>Meu servo Moisés está morto. Então agora, levante-se, você e todas essas pessoas, atravessem este Jordão para a terra que eu estou dando a eles. Todo lugar em que pisar a planta do seu pé, estou falando a Moisés. Desde o deserto e este Líbano até o ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
        </div>
        {#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Convite</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Tendências</a></p>
              <p>Em 1997, eu havia terminado um jejum de 40 dias que Bill Bright havia chamado pela América. Naquela noite final, tive um sonho em que nossa Sala de Oração de devoção se tornou uma Sala de Estratégia para a guerra. O Senhor falou comigo que eu não havia terminado a tarefa de oração de 40 dias, mas ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 40: Yay! É o 40º dia!</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Isenção de responsabilidade: não estamos solicitando uma extensão deste jejum. O que compartilhei ontem foi um convite pessoal de Deus para mim. Outros podem ser agitados de maneira semelhante, mas hoje é a nossa celebração, os 40 dias acabaram! É 9 de abril! O aniversário da Azusa ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Quebrando um Jejum</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>A sabedoria deve ser considerada ao quebrar um jejum. Muitos relataram dor intensa, desconforto, cólicas e até morte quando se entregaram ao apetite muito rapidamente. "... apenas um homem sábio sabe como quebrar um jejum." George Bernard Shaw Devemos entender isso ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
        </div>
        {#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 39: Azusa antes e agora</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>“Os heróis surgirão do pó de circunstâncias obscuras e desprezadas, cujos nomes estarão em brasas na eterna página da fama do céu. O espírito está meditando sobre nossa terra novamente, como no amanhecer das criações, e o decreto de Deus sai. “Haja luz.” Irmão, ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 38: As ovelhas perdidas da casa de Israel</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Esses doze Jesus enviaram, instruindo-os: “Não vão a lugar algum entre os gentios e não entram em nenhuma cidade dos samaritanos; antes, vão para as ovelhas perdidas da casa de Israel. Mateus 10: 5-6 Quero confortar o coração de Deus Ontem, enfatizamos o jejum de Daniel no ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 37: Revelação exige participação</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>... no primeiro ano de seu reinado, eu, Daniel, percebi nos livros o número de anos que, segundo a palavra do Senhor a Jeremias, o profeta, deve passar antes do fim das desolações de Jerusalém, a saber: setenta anos. Então eu virei meu rosto para o Senhor ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
        </div>
        {#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 36: Toda Comissão de Criaturas</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>“The problems of the world cannot possibly be solved by skeptics or cynics whose horizons are limited by the obvious realities. We need men who can dream of things that never were.” – JFK “And he said unto them, ‘Go ye into all the world, and preach the gospel to...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 35: Violência Espiritual</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>"Não é o crítico que conta; não é o homem que aponta como o homem forte tropeça, ou onde o realizador de ações poderia tê-los feito melhor. O crédito pertence ao homem que está realmente na arena, cujo rosto está estragado. por poeira, suor e sangue; quem se esforça ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 34: Ponto de inflamação</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Praça da Paz Celestial, Boston Tea Party, Woodstock, a queda do muro de Berlim, Noventa e Cinco Teses de Lutero, Mount Hermon 100, Rua Azusa, toda revolução tem um momento decisivo que é lembrado muito tempo depois que os nomes de políticos e reis foram esquecidos. Em...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
        </div>
        {#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 33: Procurando a face de Deus</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Se meu povo, chamado por meu nome, se humilhar, orar, buscar meu rosto e se afastar de seus maus caminhos, ouvirei do céu e perdoarei seus pecados e curarei sua terra. Agora meus olhos estarão abertos e meus ouvidos atentos às orações ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 32: Viaje 40 dias e 40 noites</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Nos dois dias seguintes, meu amigo Steve Allen, que serviu, juntamente com sua família, no campo missionário na Tailândia por 16 anos, escreveu dois devocionais muito encorajadores para fortalecer e capacitar você nos 10 dias finais do nosso jejum. Espero que você seja ajudado e ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 31: 4: 18N</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>... dia após dia, ele me acorda; ele acorda meu ouvido para ouvir como aqueles que são ensinados. Isaías 50: 4 “O Espírito do Senhor está sobre mim, porque ele me ungiu para anunciar boas novas aos pobres. Ele me enviou para proclamar liberdade aos cativos e se recuperar de ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
        </div>
        {#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 30: 30 Dias Em Chamas</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>... e quando o cântico foi levantado, com trombetas, pratos e outros instrumentos musicais, em louvor ao Senhor: "Porque ele é bom, porque o seu amor duradouro dura para sempre", a casa, a casa do Senhor, foi preenchida. com uma nuvem ... 2 Crônicas 5:13 Chegamos ao ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 29: 30 dias para um avanço</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Hoje continuamos com o tema de 30 dias para um avanço. Compartilhei ontem sobre Esther, esperando 30 dias antes de ela ser convocada para a corte e sobre nosso avanço na Suprema Corte. Hoje vou compartilhar meu testemunho do que orar por 30 ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 28: 30 dias e na sala do trono</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>... Mas, quanto a mim, eu não fui chamado para entrar no rei nesses trinta dias. Ester 4:11 No terceiro dia, Ester vestiu suas vestes reais e ficou na quadra interna do palácio do rei, em frente aos aposentos do rei, enquanto o rei estava sentado em sua realeza ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
        </div>
        {#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 27: Alterado</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Ou você não sabe que os injustos não herdarão o reino de Deus? Não se deixe enganar: nem os imorais sexualmente, nem os idólatras, nem os adúlteros, nem os homens que praticam a homossexualidade, nem os ladrões, nem os gananciosos, nem os bêbados, nem os vampiros, nem os vigaristas ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 26: Do Muro de Pedra ao Muro das Lamentações</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>E esses eram alguns de vocês. Mas você foi lavado, você foi santificado, você foi justificado em nome do Senhor Jesus Cristo e pelo Espírito de nosso Deus. 1 Coríntios 6:11 “O que os hippies foram para o primeiro movimento de Jesus, talvez o LGBT seja para esse Jesus ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 25: Golpeando seu Golias</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>... 4 E saiu um campeão do arraial dos filisteus, chamado Golias, de Gate, cuja altura era de seis côvados e um palmo ...... 10 E o filisteu disse: “Desafio os exércitos de Israel. dia; dá-me um homem, para que possamos lutar juntos. ”11 Quando Saul e tudo ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
        </div>
        {#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 24: Toda tribo e língua</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>“E este evangelho do reino será pregado em todo o mundo como testemunha para todas as nações, e então chegará o fim.” Mat. 24:14 Apenas alguns versículos formam o eixo em torno do qual toda a escatologia orbita, e este é um. Nos debates muitas vezes controversos entre ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 23: Adote uma criança - anule um decreto</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Ele estava criando Hadassah, que é Ester, filha de seu tio, pois ela não tinha pai nem mãe. A jovem tinha uma figura bonita e era adorável de se ver. Quando seu pai e sua mãe morreram, Mardoqueu a tomou como sua própria filha. Esther ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 22: Deus anula os decretos do homem</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Então o rei tirou o anel de sinete que ele havia retirado de Hamã e o deu a Mardoqueu; e Ester nomeou Mardoqueu sobre a casa de Hamã. Ester 8: 2 “A igreja não está à mercê de decretos políticos de destruição. Jesus é o senhor da história! Apesar...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
        </div>
        {#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 21: Purim</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>E o rei disse: “Quem está na corte? ... e os jovens do rei disseram-lhe:“ Hamã está lá em pé na corte ”... então eles enforcaram Hamã na forca que ele havia preparado para Mordechai. Ester 6: 4,5,10 Eu perguntei a ela: "Existe uma quadra de basquete no Supremo ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 20: Aqui estou eu me envie</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>“Consciente ou inconscientemente, a pessoa vive não apenas a vida de alguém, mas a vida de seu tempo ... são nossos sonhos, por exemplo, em certa medida facetas, de um sonho de massa maior que está começando a acontecer no mundo? Dito de outra maneira, quando Deus quer iniciar um novo ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 19: A chamada da Macedônia</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>E uma visão apareceu a Paulo durante a noite: Um homem da Macedônia estava ali, pedindo-lhe e dizendo: “Venha para a Macedônia e ajude-nos.” E quando Paulo teve a visão, imediatamente procuramos ir para a Macedônia, concluindo que Deus nos chamou para ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
        </div>
        {#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 18: Filhos do Trovão Parte 2</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Queridos irmãos e irmãs, Hoje, mais uma vez, quero explodir esta oração em Mateus 9:38 para que o Senhor da Colheita faça Ekballo Os Filhos do Trovão nas ferventes legiões de perdidos da Terra. Em 2009 eu estava entrando em um jejum de 40 dias em Kansas City. Antes de mim...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 17: Filhos do Trovão</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>E o arauto afirmou em voz alta: “Vocês são comandados, ó povos, nações e idiomas que, quando ouvem o som de buzina, cachimbo, lira, trigônio, harpa, gaita de foles e todo tipo de música, devem cair e adorar a imagem de ouro que Nabucodonosor estabeleceu ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 16: Ekballo!</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>“O número de missionários em campo depende inteiramente da medida em que alguém obedece a esse comando (Mt 9:38) e ora aos trabalhadores.” - Andrew Murray “portanto, ore sinceramente ao Senhor da colheita para enviar trabalhadores. em sua colheita. ”Mateus ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
        </div>
        {#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">DIA 15: Uma Nova Tarefa de Oração</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Nesta semana, estamos adotando uma nova tarefa de oração, que eu tenho como responsabilidade pessoal de cumprir nos últimos sete anos. Em 2012, os líderes da JOCUM me deram a palavra "Ekballo" (mais sobre esta palavra revolucionária em breve) como o nome do pré-envio ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Dia 14: Encontrando seu fogo</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Ele era uma lâmpada acesa e brilhante e você aproveitou a luz dele por um tempo. João 5:35 “Milhões não desafiam a Deus conscientemente; eles assumem o papel de bolo e televisão. Exceto pela correria periódica do sexo, do esporte e do cinema, a vida boceja. Não há paixão por ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Dia 13: O Ponto Sussurrante</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>“O todo-poderoso pode nos intimidar com sua voz externa, mas ele nos abate com seu sussurro.” - Mark Batterson, "Whisper" E depois do terremoto houve um incêndio, mas o Senhor não estava no fogo. E depois do fogo o som de um sussurro baixo. 1 Reis 19:12 Marcos Batterson em ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
        </div>
        {#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Dia 12: Ouça a voz do Pai</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Caro amigo do jejum, Foi uma grande alegria para mim compartilhar meus pensamentos e encorajá-lo em seu jejum nos últimos dias. Uma coisa é escrever e outra é estar cara a cara. Foi por isso que gravei este vídeo, para que você possa ouvir a voz de um pai falando ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Dia 11: O Sussurro do Destino</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>1 Reis 19: 7,12,15-16 “Levanta-te e come porque a jornada é grande demais para ti.” E ele se levantou, comeu e bebeu, e entrou no poder daquela comida 40 dias e 40 noites para Horebe, o monte de Deus ... (Versículo 12) E depois do terremoto um incêndio, mas o Senhor não estava em ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Dia 10: Vitória Sobre Tentação</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>“Adam foi tentado com o estômago cheio no paraíso, mas falhou. Jesus foi tentado enquanto com fome voraz, mas conseguiu ”-O Jesus Jejum Muitos pensariam que quando Jesus foi levado pelo deserto a jejuar 40 dias, a fraqueza do jejum o faria mais ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
      </div>
        {#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Dia 9: Pão do Céu</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Quebra tu o pão da vida, caro Senhor, para mim, como quebraste os pães À beira do mar; Além da página sagrada, eu te busco, Senhor; meu espírito te aguarda, ó Palavra viva. - Mary Artemesia Lathbury Mas ele respondeu: “Está escrito: 'O homem não viverá de pão ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Dia 8: Mostre-me sua glória</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>“O jejum não é uma ferramenta para ganhar disciplina ou piedade. Em vez disso, o jejum é o ... ato de nos livrarmos da plenitude para sintonizar nossos sentidos com os mistérios que rodam dentro e ao nosso redor. Às vezes Deus aparece. Às vezes ele nos alimenta. E de vez em quando, Ele joga Seu ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Dia 7: Semana 1 Recap e Pontos de Oração</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Caro amigo do jejum, estamos no sétimo dia do nosso jejum. Espero que sua alma esteja bebendo profundamente das correntes de Deus e se você não estiver experimentando nada neste momento, continue jejuando na fé. Deus prometeu recompensar abertamente aqueles que jejuam da maneira correta. EU...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
        </div>
        {#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Dia 6: Um novo pergaminho para as nações</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>O Espírito do Senhor está sobre mim, porque me ungiu para pregar o evangelho aos pobres. Ele me enviou para proclamar libertação aos cativos, e recuperação da vista aos cegos, para libertar os oprimidos, proclamar o ano favorável do Senhor. (Luke ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Dia 5: "Billy Graham, eu não vou deixar você ir!"</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>LLeia 2 Reis 2. Setenta anos atrás, Billy Graham montou sua barraca em Los Angeles e Jesus, o evangelista, se manifestou através dele e de muitos outros. No decorrer de sua vida, Billy pregou o Evangelho a mais de 215 milhões de indivíduos, mas estou convencido de que ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Dia 4: A colheita está chegando!</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>L“A América e o resto do mundo experimentarão, antes do final do ano 2000, um grande despertar espiritual! E esse reavivamento desencadeará a maior colheita espiritual da história da Igreja. ”- Bill Bright, co-fundador da cruzada campista por Cristo, ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
        </div>
        {#        1#}
        <div class="row">
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Dia 3: Energia atômica para a colheita</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Nos últimos 18 anos do TheCall, mobilizamos milhares, senão centenas de milhares, para jejuns de 40 dias em épocas importantes de nossa nação, mas foi em 2014 que Deus trouxe um homem chamado Dean Briggs para minha vida. Deus uniu nossos corações e começamos a sonhar ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Dia 2: O ciclo de 70 anos</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>“Como o Criador é maior do que o que ele criou, o poder exercido pelo cristão por jejum e oração é maior do que o exercido pelo cientista atômico.” - Franklin Hall I, Daniel, percebeu nos livros o número de .. .</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
          <div class="col-lg-4">
            <div>
              <h2><a href="#">Dia 1: O Projeto</a></h2>
              <p class="text-muted mb-3 text-uppercase small"><span class="mr-2">January 18, 2019</span> Por <a href="#" class="by">Devocionais do Jejum de Jesus</a></p>
              <p>Naqueles dias, Jesus veio de Nazaré na Galiléia e foi batizado por João no Jordão. Imediatamente o Espírito o levou a sair para o deserto. E ele esteve no deserto quarenta dias. - Marcos 1: 9,12-13 (ESV) “Antes que houvesse um movimento original de Jesus, ...</p>
              <p><a href="#">Ler Mais</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section bg-gray-1" id="recursos-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <h2 class="text-black section-title text-uppercase">GUIA DE JEJUM E ORAÇÃO</h2>
          </div>
        </div>

        <div class="row">
          <div class="text-center mb-4">
            <p>Com esse chamado para entrar em jejum prolongado, precisamos nos preparar adequadamente para que o jejum possa honrar a Deus e cumprir seu propósito. Quero compartilhar alguns pensamentos de nossas próprias experiências para ajudar e encorajá-lo.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-center mb-4">
            <h3 class="text-black-50 text-uppercase">1. Procure ajuda médica se for mais velho ou tiver problemas de saúde</h3>
          </div>
        </div>
        <div class="row">
          <div class="text-left mb-4">
            <h3 class="text-black-50 text-uppercase">2. Jejue e ore para se humilhar e purificar sua adoração</h3>
            <p>No jejum, não estamos tentando obter algo de Deus; estamos procurando realinhar as afeições de nossos corações com as dele. Fazemos violência santa aos “prazeres que fazem guerra contra a alma”, abrindo caminho para uma maior submissão ao Espírito Santo. A luxúria é uma forma perversa de devoção. O jejum nos permite purificar o santuário de nossos corações de tais ídolos.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-left mb-4">
            <h3 class="text-black-50 text-uppercase">3. Tire um tempo para orar e ler a Palavra</h3>
            <p>Isso pode parecer óbvio, mas ocupações e distrações podem impedir você de devoções. A leitura de livros com testemunhos de vitórias obtidas através do jejum o encorajará. Registre-se em TheJesusFast.com para agendar seu jejum e receber incentivos por e-mail.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-left mb-4">
            <h3 class="text-black-50 text-uppercase">4. Tenha um alvo claro para o foco da oração</h3>
            <p>Sem uma visão (uma meta clara e profética da oração), as pessoas perecem. Durante um jejum, tenho quatro ou cinco objetivos de oração que articulei claramente. Quando não estou profundamente motivado por um objetivo claro, geralmente jejuo até o intervalo! Anote sua visão para que você possa segui-la.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-left mb-4">
            <h3 class="text-black-50 text-uppercase">5. Faça o jejum com outra pessoa</h3>
            <p>Dois são melhores que um! Incentivamos os jovens a conversar sobre isso com os pais antes de começar o jejum. Pais e filhos devem considerar jejuar juntos.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-left mb-4">
            <h3 class="text-black-50 text-uppercase">6. Não ceda à condenação se você falhar</h3>
            <p>O dilema “jejuar ou não jejuar” pode ser uma ferramenta importante do inimigo. Mesmo que você falhe várias vezes, Deus sempre estende a graça. Pressione reset e continue exatamente de onde parou.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-left mb-4">
            <h3 class="text-black-50 text-uppercase">7. Maridos e esposas, considerem a abstinência sexual por causa da oração (1 Coríntios 7: 5)</h3>
          </div>
        </div>
        <div class="row">
          <div class="text-left mb-4">
            <h3 class="text-black-50 text-uppercase">8. Determine o comprimento antes do jejum, não depois de começar</h3>
            <ul>
              <li>Um jejum total é sem água. Isso é extremamente difícil para o corpo. Não vá além de três dias.</li>
              <li>Um jejum somente com água é uma experiência muito desafiadora, mas profundamente espiritual. Muitas pessoas podem aguentar quarenta dias apenas com água, embora isso dependa do peso e do metabolismo.</li>
              <li>Um suco rápido de frutas e vegetais permite que você entre em jejum, mas ainda fornece energia suficiente para funcionar. A maioria das pessoas pode fazer um suco de quarenta dias rapidamente. Por consideração à sua saúde e metabolismo, incentivo os adolescentes a beber suco e proteínas para sustentá-los.</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="text-left mb-4">
            <h3 class="text-black-50 text-uppercase">9. Prepare-se fisicamente</h3>
            <p>Dois dias antes do jejum, limite a ingestão de alimentos a frutas e legumes. A fruta é um limpador natural e fácil de digerir. Pare de tomar café antes do jejum. Prepare-se para desconfortos mentais, como impaciência, irritabilidade e ansiedade. Espere desconfortos físicos. Você pode sentir tonturas, dores de cabeça e diferentes tipos de dores. As dores de cabeça não são necessariamente um sinal para parar de jejuar. Seu corpo está trabalhando para se purificar de impurezas.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-left mb-4">
            <h3 class="text-black-50 text-uppercase">10. Prepare-se para a oposição</h3>
            <p>No primeiro dia do seu jejum, você pode apostar que os donuts aparecerão de alguma forma no escritório ou na aula. De repente, seu cônjuge (ou mãe) será inspirado a preparar suas refeições favoritas. Tome isso como incentivo de Deus para seguir em frente! Muitas vezes você pode sentir um aumento da tensão emocional em casa. Meus jejuns são tão difíceis para minha esposa quanto para mim. Satanás tentou Jesus em Seu jejum, e devemos esperar o mesmo. O desânimo pode vir como um dilúvio, mas reconheça a fonte e se posicione sobre a vitória de Cristo.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-left mb-4">
            <h3 class="text-black-50 text-uppercase">11. Jejum em segredo</h3>
            <p>Não se vanglorie do jejum, mas não faça esforços extraordinários para mascará-lo quando as pessoas perguntarem; se necessário, informe-os de que você não estará comendo. Quanto maior você fizer isso, mais atenção você chamará. Seja discreto, transparente e depois siga humildemente.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-left mb-4">
            <h3 class="text-black-50 text-uppercase">12. Quebre o jejum por vários dias com suco de frutas e / ou sopas leves</h3>
            <p>Em um suco leve rápido ou em água, o sistema digestivo é desligado. Pode ser perigoso se você comer muito cedo. Quebre esse jejum delicadamente com vários dias de suco diluído e não ácido, depois suco regular, seguido de frutas e legumes. Ao quebrar um dos meus primeiros jejuns de água, comi muito rapidamente e quase precisei de hospitalização. Seja cuidadoso!</p>
          </div>
        </div>
        <div class="row">
          <div class="text-left mb-4">
            <h3 class="text-black-50 text-uppercase">13. Sinta-se livre para descansar bastante e continuar exercitando</h3>
          </div>
        </div>
        <div class="row">
          <div class="text-left mb-4">
            <h3 class="text-black-50 text-uppercase">14. Se estiver grávida ou amamentando, não jejue</h3>
          </div>
        </div>
        <div class="row">
          <div class="text-left mb-4">
            <h3 class="text-black-50 text-uppercase">15. Espere ouvir a voz de Deus na Palavra, sonhos, visões e revelações</h3>
            <p>Daniel preparou-se para receber revelação através do jejum (Daniel 10: 1-3). As escrituras também falam de uma recompensa em jejum (Mateus 6:18). Espere que Deus tenha comunhão e se comunique com você de maneiras especiais.</p>
          </div>
        </div>
        <div class="row">
          <div class="text-left mb-4">
            <h3 class="text-black-50 text-uppercase">16. Os avanços geralmente ocorrem depois de um jejum, não durante ele</h3>
            <p>Não ouça a mentira de que nada está acontecendo. É minha convicção que todo jejum feito com fé será recompensado.</p>
          </div>
        </div>




      </div>

    </div>


    <div class="site-section bg-light" id="juntar-section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <h2 class="text-black section-title text-uppercase">Junta-te a nós!</h2>
          </div>
        </div>
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form action="https://40diasdejejum.us4.list-manage.com/subscribe/post?u=3a450b7c365757187cb8527eb&amp;id=50b3a34cfc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

              <div class="mc-field-group">
                <label for="mce-PNOME">Primeiro Nome </label>
                <input type="text" value="" name="PNOME" class="" id="mce-PNOME">
              </div>
              <div class="mc-field-group">
                <label for="mce-UNOME">Ultimo Nome </label>
                <input type="text" value="" name="UNOME" class="" id="mce-UNOME">
              </div>
              <div class="mc-field-group">
                <label for="mce-EMAIL">Endereço Email </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <div class="mc-field-group">
                <label for="mce-IGREJA">Igreja </label>
                <input type="text" value="" name="IGREJA" class="" id="mce-IGREJA" class="required">
              </div>
              <div class="mc-address-group">
                <div class="mc-field-group">
                  <label for="mce-MORADA-addr1">Morada </label>
                  <input type="text" value="" maxlength="70" name="MORADA[addr1]" id="mce-MORADA-addr1" class="required">
                </div>
                <div class="mc-field-group size1of2">
                  <label for="mce-MORADA-city">Cidade</label>
                  <input type="text" value="" maxlength="40" name="MORADA[city]" id="mce-MORADA-city" class="required">
                </div>
                <div class="mc-field-group size1of2">
                  <label for="mce-MORADA-state">Distrito</label>
                  <input type="text" value="" maxlength="20" name="MORADA[state]" id="mce-MORADA-state" class="required">
                </div>
                <div class="mc-field-group size1of2">
                  <label for="mce-MORADA-zip">Código Postal</label>
                  <input type="text" value="" maxlength="10" name="MORADA[zip]" id="mce-MORADA-zip" class="required">
                </div>
                <div class="mc-field-group size1of2">
                  <label for="mce-MORADA-country">País</label>
                  <select name="MORADA[country]" id="mce-MORADA-country" class="required"><option value="164">USA</option><option value="286">Aaland Islands</option><option value="274">Afghanistan</option><option value="2">Albania</option><option value="3">Algeria</option><option value="178">American Samoa</option><option value="4">Andorra</option><option value="5">Angola</option><option value="176">Anguilla</option><option value="175">Antigua And Barbuda</option><option value="6">Argentina</option><option value="7">Armenia</option><option value="179">Aruba</option><option value="8">Australia</option><option value="9">Austria</option><option value="10">Azerbaijan</option><option value="11">Bahamas</option><option value="12">Bahrain</option><option value="13">Bangladesh</option><option value="14">Barbados</option><option value="15">Belarus</option><option value="16">Belgium</option><option value="17">Belize</option><option value="18">Benin</option><option value="19">Bermuda</option><option value="20">Bhutan</option><option value="21">Bolivia</option><option value="325">Bonaire, Saint Eustatius and Saba</option><option value="22">Bosnia and Herzegovina</option><option value="23">Botswana</option><option value="181">Bouvet Island</option><option value="24">Brazil</option><option value="180">Brunei Darussalam</option><option value="25">Bulgaria</option><option value="26">Burkina Faso</option><option value="27">Burundi</option><option value="28">Cambodia</option><option value="29">Cameroon</option><option value="30">Canada</option><option value="31">Cape Verde</option><option value="32">Cayman Islands</option><option value="33">Central African Republic</option><option value="34">Chad</option><option value="35">Chile</option><option value="36">China</option><option value="185">Christmas Island</option><option value="37">Colombia</option><option value="204">Comoros</option><option value="38">Congo</option><option value="183">Cook Islands</option><option value="268">Costa Rica</option><option value="275">Cote D'Ivoire</option><option value="40">Croatia</option><option value="276">Cuba</option><option value="298">Curacao</option><option value="41">Cyprus</option><option value="42">Czech Republic</option><option value="318">Democratic Republic of the Congo</option><option value="43">Denmark</option><option value="44">Djibouti</option><option value="289">Dominica</option><option value="187">Dominican Republic</option><option value="45">Ecuador</option><option value="46">Egypt</option><option value="47">El Salvador</option><option value="48">Equatorial Guinea</option><option value="49">Eritrea</option><option value="50">Estonia</option><option value="51">Ethiopia</option><option value="189">Falkland Islands</option><option value="191">Faroe Islands</option><option value="52">Fiji</option><option value="53">Finland</option><option value="54">France</option><option value="193">French Guiana</option><option value="277">French Polynesia</option><option value="56">Gabon</option><option value="57">Gambia</option><option value="58">Georgia</option><option value="59">Germany</option><option value="60">Ghana</option><option value="194">Gibraltar</option><option value="61">Greece</option><option value="195">Greenland</option><option value="192">Grenada</option><option value="196">Guadeloupe</option><option value="62">Guam</option><option value="198">Guatemala</option><option value="270">Guernsey</option><option value="63">Guinea</option><option value="65">Guyana</option><option value="200">Haiti</option><option value="66">Honduras</option><option value="67">Hong Kong</option><option value="68">Hungary</option><option value="69">Iceland</option><option value="70">India</option><option value="71">Indonesia</option><option value="278">Iran</option><option value="279">Iraq</option><option value="74">Ireland</option><option value="323">Isle of Man</option><option value="75">Israel</option><option value="76">Italy</option><option value="202">Jamaica</option><option value="78">Japan</option><option value="288">Jersey  (Channel Islands)</option><option value="79">Jordan</option><option value="80">Kazakhstan</option><option value="81">Kenya</option><option value="203">Kiribati</option><option value="82">Kuwait</option><option value="83">Kyrgyzstan</option><option value="84">Lao People's Democratic Republic</option><option value="85">Latvia</option><option value="86">Lebanon</option><option value="87">Lesotho</option><option value="88">Liberia</option><option value="281">Libya</option><option value="90">Liechtenstein</option><option value="91">Lithuania</option><option value="92">Luxembourg</option><option value="208">Macau</option><option value="93">Macedonia</option><option value="94">Madagascar</option><option value="95">Malawi</option><option value="96">Malaysia</option><option value="97">Maldives</option><option value="98">Mali</option><option value="99">Malta</option><option value="207">Marshall Islands</option><option value="210">Martinique</option><option value="100">Mauritania</option><option value="212">Mauritius</option><option value="241">Mayotte</option><option value="101">Mexico</option><option value="102">Moldova, Republic of</option><option value="103">Monaco</option><option value="104">Mongolia</option><option value="290">Montenegro</option><option value="294">Montserrat</option><option value="105">Morocco</option><option value="106">Mozambique</option><option value="242">Myanmar</option><option value="107">Namibia</option><option value="108">Nepal</option><option value="109">Netherlands</option><option value="110">Netherlands Antilles</option><option value="213">New Caledonia</option><option value="111">New Zealand</option><option value="112">Nicaragua</option><option value="113">Niger</option><option value="114">Nigeria</option><option value="217">Niue</option><option value="214">Norfolk Island</option><option value="272">North Korea</option><option value="116">Norway</option><option value="117">Oman</option><option value="118">Pakistan</option><option value="222">Palau</option><option value="282">Palestine</option><option value="119">Panama</option><option value="219">Papua New Guinea</option><option value="120">Paraguay</option><option value="121">Peru</option><option value="122">Philippines</option><option value="221">Pitcairn</option><option value="123">Poland</option><option value="124" selected>Portugal</option><option value="126">Qatar</option><option value="315">Republic of Kosovo</option><option value="127">Reunion</option><option value="128">Romania</option><option value="129">Russia</option><option value="130">Rwanda</option><option value="205">Saint Kitts and Nevis</option><option value="206">Saint Lucia</option><option value="324">Saint Martin</option><option value="237">Saint Vincent and the Grenadines</option><option value="132">Samoa (Independent)</option><option value="227">San Marino</option><option value="255">Sao Tome and Principe</option><option value="133">Saudi Arabia</option><option value="134">Senegal</option><option value="326">Serbia</option><option value="135">Seychelles</option><option value="136">Sierra Leone</option><option value="137">Singapore</option><option value="302">Sint Maarten</option><option value="138">Slovakia</option><option value="139">Slovenia</option><option value="223">Solomon Islands</option><option value="140">Somalia</option><option value="141">South Africa</option><option value="257">South Georgia and the South Sandwich Islands</option><option value="142">South Korea</option><option value="311">South Sudan</option><option value="143">Spain</option><option value="144">Sri Lanka</option><option value="293">Sudan</option><option value="146">Suriname</option><option value="225">Svalbard and Jan Mayen Islands</option><option value="147">Swaziland</option><option value="148">Sweden</option><option value="149">Switzerland</option><option value="285">Syria</option><option value="152">Taiwan</option><option value="260">Tajikistan</option><option value="153">Tanzania</option><option value="154">Thailand</option><option value="233">Timor-Leste</option><option value="155">Togo</option><option value="232">Tonga</option><option value="234">Trinidad and Tobago</option><option value="156">Tunisia</option><option value="157">Turkey</option><option value="158">Turkmenistan</option><option value="287">Turks &amp; Caicos Islands</option><option value="159">Uganda</option><option value="161">Ukraine</option><option value="162">United Arab Emirates</option><option value="262">United Kingdom</option><option value="163">Uruguay</option><option value="165">Uzbekistan</option><option value="239">Vanuatu</option><option value="166">Vatican City State (Holy See)</option><option value="167">Venezuela</option><option value="168">Vietnam</option><option value="169">Virgin Islands (British)</option><option value="238">Virgin Islands (U.S.)</option><option value="188">Western Sahara</option><option value="170">Yemen</option><option value="173">Zambia</option><option value="174">Zimbabwe</option></select>
                </div>
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3a450b7c365757187cb8527eb_50b3a34cfc" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscrever" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
          </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='PNOME';ftypes[1]='text';fnames[2]='UNOME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='IGREJA';ftypes[3]='text';fnames[4]='MORADA';ftypes[4]='address'; }(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
      </div>
    </div>


    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-8">
                <h2 class="footer-heading mb-4">About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Features</h2>
                <ul class="list-unstyled">
                  <li><a href="#">Inicio</a></li>
                  <li><a href="devocionais-section">Devocionais</a></li>
                  <li><a href="recurso-section">Recursos</a></li>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              
            </div>
          </div>
          <div class="col-md-4 ml-auto">

            <div class="mb-5">
              <div class="mb-5">
                <h2 class="footer-heading mb-4">Some Paragraph</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat nostrum libero iusto dolorum vero atque aliquid.</p>
              </div>
              <h2 class="footer-heading mb-4">Subscribe to Newsletter</h2>
              <form action="#" method="post">
                <div class="input-group mb-3">
                  <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary text-white" type="button" id="button-addon2">Subscribe</button>
                  </div>
                </div>
              </div>


              <h2 class="footer-heading mb-4">Siga</h2>
                <a href="https://www.facebook.com/thejesusfastportugal/" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Website criado pela <a href="http://www.intouchbiz.com/pt/"> intouchbiz </a>, pelo técnico Ricardo Cruz
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  </div>

  <script src="{{ asset ('js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ asset ('js/jquery-ui.js') }} "></script>
  <script src="{{ asset ('js/popper.min.js') }} "></script>
  <script src="{{ asset ('js/bootstrap.min.js') }} "></script>
  <script src="{{ asset ('js/owl.carousel.min.js') }} "></script>
  <script src="{{ asset ('js/jquery.magnific-popup.min.js') }} "></script>
  <script src="{{ asset ('js/jquery.sticky.js') }} "></script>
  <script src="{{ asset ('js/jquery.waypoints.min.js') }} "></script>
  <script src="{{ asset ('js/jquery.animateNumber.min.js') }} "></script>
  <script src="{{ asset ('js/aos.js') }} "></script>

  <script src="{{ asset ('js/main.js') }} "></script>
    
  </body>
</html>